@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --logo-height: 50px;
}

.logo-size {
    width: var(--logo-height);
    height: var(--logo-height);
}

.logo-bg {
    background-image: url(SAF_logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: logo-fill 5s linear infinite;
    padding: 0;
}

#loadingWave {
    bottom: 0;
    padding: 0;
    fill: #fff;
}

.logo-border {
    fill: none;
    stroke: #46dc8c;
    stroke-width: 3;
}

@keyframes logo-fill {
    0% {
        height: 0;
    }
    50% {
        height: var(--logo-height);
    }
    100% {
        height: 0;
    }
}

.form-section {
    /* Transition properties */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 650px;
  }
